In [141]:
import pandas as pd

Загружаем данные о НЛО из .csv файла

In [142]:
path: str = '../../files/ufo_data.csv'
df: pd.DataFrame = pd.read_csv(path)

C:\Users\Mike\AppData\Local\Temp\ipykernel_15736\3333093965.py:2: DtypeWarning:

Columns (5,9) have mixed types. Specify dtype option on import or set low_memory=False.

Получаем первый 10 записей

In [143]:
display(df.head(7))

,Date_time,city,state/province,country,UFO_shape,length_of_encounter_seconds,described_duration_of_encounter,description,date_documented,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611
5,10/10/1961 19:00,bristol,tn,us,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.595,-82.188889
6,10/10/1965 21:00,penarth (uk/wales),NaN,gb,circle,180,about 3 mins,penarth uk circle 3mins stayed 30ft above m...,2/14/2006,51.434722,-3.180000

Анализ столбца продолжительность наблюдений

In [144]:

column = pd.to_numeric(df['length_of_encounter_seconds'],errors='coerce') #убираем не числовые значения
min = column.min()
max = column.max()
mean = column.mean()
temp = pd.DataFrame([("Минимум",min),("Максимум",max),('Среднее',mean)], columns = ['Метрика','Значение'])
display(temp.head(3))

    Метрика      Значение
0   Минимум  1.000000e-03
1  Максимум  9.783600e+07
2   Среднее  9.017226e+03

Добавить в таблицу столбец только с годом

In [145]:
date = df['Date_time'] #убираем не числовые значения
df['Год'] = df['Date_time'].apply(lambda x: x.split(' ')[0].replace('/','.'))
temp = df[['Date_time','Год']]
display(temp.head(-5))

              Date_time         Год
0      10/10/1949 20:30  10.10.1949
1      10/10/1949 21:00  10.10.1949
2      10/10/1955 17:00  10.10.1955
3      10/10/1956 21:00  10.10.1956
4      10/10/1960 20:00  10.10.1960
...                 ...         ...
80322    9/9/2013 21:00    9.9.2013
80323    9/9/2013 21:00    9.9.2013
80324    9/9/2013 21:00    9.9.2013
80325    9/9/2013 21:00    9.9.2013
80326    9/9/2013 21:00    9.9.2013

[80327 rows x 2 columns]

Создать в таблице строку с текущим годом записи в любом штате/области США/Канады

In [146]:
from datetime import datetime
my_data = {
    'Date_time'                      : [datetime.now().strftime("%d/%m/%y %H:%m")],
    'city'                           : ['bristol'],
    'state/province'                 : ['tn'],
    'country'                        : ['us'],
    'UFO_shape'                      : ['like ufo dude'],
    'length_of_encounter_seconds'    : [30*60],
    'described_duration_of_encounter': ['half an hour'],
    'description'                    : ['Оно улетело но обещало вернуться'],
    'date_documented'                : [datetime.now().strftime("%d/%m/%y")],
    'latitude'                       : [36.595],
    'longitude'                      : [-82.188889],
}
temp = pd.DataFrame(my_data)
display(temp)
df = pd.concat([df, temp], ignore_index=True)
display(df.head(-5))

,Date_time,city,state/province,country,UFO_shape,length_of_encounter_seconds,described_duration_of_encounter,description,date_documented,latitude,longitude
0,07/09/22 19:09,bristol,tn,us,like ufo dude,1800,half an hour,Оно улетело но обещало вернуться,07/09/22,36.595,-82.188889

,Date_time,city,state/province,country,UFO_shape,length_of_encounter_seconds,described_duration_of_encounter,description,date_documented,latitude,longitude,Год
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111,10.10.1949
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082,10.10.1949
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667,10.10.1955
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833,10.10.1956
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611,10.10.1960
...,...,...,...,...,...,...,...,...,...,...,...,...
80323,9/9/2013 21:00,gainesville,fl,us,triangle,60.0,1 minute,Three lights in the sky that didn&#39t look li...,9/30/2013,29.651389,-82.325000,9.9.2013
80324,9/9/2013 21:00,hamstead (hollyridge),nc,NaN,light,120.0,2 minutes,8 to ten lights bright orange in color large t...,9/30/2013,34.367594,-77.710548,9.9.2013
80325,9/9/2013 21:00,milton (canada),on,ca,fireball,180.0,3 minutes,Massive Bright Orange Fireball in Sky,9/30/2013,46.3,-63.216667,9.9.2013
80326,9/9/2013 21:00,woodstock,ga,us,sphere,20.0,20 seconds,Driving 575 at 21:00 hrs saw a white and green...,9/30/2013,34.101389,-84.519444,9.9.2013
80327,9/9/2013 21:15,nashville,tn,us,light,600.0,10 minutes,Round from the distance/slowly changing colors...,9/30/2013,36.165833,-86.784444,9.9.2013

Создать с помощью библиотеки визуализации тепловую карту для сравнения первых 15 лет, в течение которых наблюдался НЛО, и каждого месяца (seaborn, plotly).

In [244]:

from plotly.offline import iplot
import plotly.graph_objects as go
import numpy as np
plot = pd.DataFrame()
plot['Дата'] = pd.to_datetime(df['Date_time'].apply(lambda x: x.split(' ')[0]))
plot['Год'] = pd.to_numeric(df['Date_time'].apply(lambda x: x.split(' ')[0].split('/')[2]))
plot['Номер_месяца'] = pd.to_numeric(df['Date_time'].apply(lambda x: x.split(' ')[0].split('/')[0]))
# TODO: @MikeKondr99 #20 Найти способ отсортировать месяца в heatmap баз изменения названия
plot['Месяц'] = plot['Номер_месяца'].map({1:'a.Январь',2:'b.Февраль',3:'c.Март',4:'d.Апрель',5:'e.Май',6:'f.Июнь',
   7:'g.Июль',8:'h.Август',9:'i.Сентябрь',10:'j.Октябрь',11:'k.Ноябрь',12:'l.Декабрь'})
#Убираю не корректные года
filter2 = plot["Год"] > 1000
plot = plot.where(filter2)
plot.dropna()
plot = plot.sort_values(by=['Месяц'])

year1 = int(plot['Год'].max())
print(f'Самый последний год  НЛО: {year1}')
year0 = int(year1) - 15
print(f'Делаем от {year0} года')

filter = plot["Дата"] < datetime(year1,1,1)
filter2 = plot["Дата"] >= datetime(year0,1,1)
plot = plot.where(filter & filter2)
plot.dropna()
print(f'Количество данных: {len(plot)}')

plot = plot.drop(columns=['Дата'])

cross = pd.crosstab(plot['Месяц'], plot['Год'])

trace = go.Heatmap( x = cross.columns.tolist(), y = cross.index.tolist(), z = cross.values.tolist(), type = 'heatmap', colorscale = 'thermal')
fig = go.Figure(data = [trace])
iplot(fig)

Самый последний год  НЛО: 2014
Делаем от 1999 года
Количество данных: 80333